.search{
    border: none;
    padding: 15px;
    width: 250px;
    border: 1px solid #120136;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
}

@media screen and (max-width: 455px) {
    .search{
        width: 230px;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px){
    .search {
        width: 190px;
        font-size: 9px;
    }
}

@media screen and (max-width: 360px){
    .search {
        width: 140px;
        font-size: 8px;
        padding: 15px 8px;
    }
}